.data-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.data-form select {
    border-radius: 8px;
    border: 1px solid grey;
    padding: 8px;
    cursor: pointer;
}

.data-form .row {
    display: flex;
    align-items: center;
    margin: 15px 0;
    justify-content: space-between;
    width: 100%;
}

.data-form .col {
    display: flex;
    flex-direction: column;
    width: 48%; /* Slightly less than 50% to account for spacing */
}

.data-form h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.data-form label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
}

.data-form input {
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    width: 100%;
    transition: border-color 0.3s ease;
}

.data-form input:focus {
    border-color: #5288c7;
    outline: none;
}

.data-form button {
    border-radius: 8px;
    background-color: #5288c7;
    border: 1px solid #5288c7;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.data-form button:hover {
    background-color: #3a6da7;
}

.data-form .text-danger {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}